:root {
    --white_blue: rgb(243, 250, 252);
    --light_blue: rgb(217, 249, 255);
    --blue: rgb(118, 178, 255);
    --dark_blue:rgb(33, 93, 172);
}

@font-face {
    font-family: "playball";
    src: url(/HappyValleyKennels/assets/fonts/Playball-q6o1.woff) format("woff");    
}

@font-face {
    font-family: "Y14";
    src: url(/HappyValleyKennels/assets/fonts//Y1452018-1Gjd0.woff) format("woff");
}

html{
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100%;
    
    margin: 0;
    padding: 0;

    background-color: rgb(243, 250, 252);

    font-family: Y14;
    font-size: 20px;
}

/* Style the page header and its content */
#Page_Header {
    background-color: rgb(217, 249, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-family: playball;
}

#Page_Header a{
    padding-top: 1%;
    padding-bottom: 1%;

    text-decoration: none;
    font-size: 50px;
    color: rgb(54, 54, 54);
}

/*Style the nav-bar and its elements*/

#Nav_Bar {
    font-family: Y14;
    width: 100%;

    background-color: rgb(118, 178, 255);

    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

#Nav_Bar li {
    float: left;
    padding: 0.1%;
}

#Nav_Bar li a {
    border-radius: 10px;
    display: block;

    font-size: 30px;
    color: rgb(54, 54, 54);
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#Nav_Bar li a:hover {
    background-color: rgb(88, 160, 255);
}

#Profile_Button {
    width: 100%;
    background-color: rgb(97, 164, 252);

    font-family: Y14;
    font-size: 30px;
    color: rgb(54, 54, 54);
    text-decoration: none;

    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-style: none;
    border-radius: 4px;
}

#Profile_Button:hover{
    background-color: rgb(33, 93, 172);
}

.active {
    background-color: rgb(56, 142, 255);
}

.subActive {
    background-color: rgb(49, 119, 211);
}


/* Style content area */
#Page_Content {
    min-height: 100%;
    margin: 1%;
    text-align: center;
}

/* Style dropdown menu */
#dropdown_container {
    font-family: Y14;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 2%;
    right: 2%;
}

#dropdown_items {
    display: none;

    border-style: solid;
    border-color: var(--dark_blue);
    border-radius: 5px;

    background-color: var(--white_blue);

    padding-left: 10px;
    padding-right: 10px;
}

#dropdown_items a {
    font-size: large;
    text-decoration: none;
}

#dropdown_items button, #Submit_Button{
    background-color: var(--dark_blue);
    
    border-color: var(--dark_blue);
    border-style: solid;
    border-radius: 5px;

    color: var(--white_blue);
    font-family: Y14;
    font-size: medium;
}

.show {
    display: flex !important;
    justify-content: center;
}

.hide {
    display: none !important;
}

#Submit_Container {
    display: flex;
    justify-content: center;
}

#sign_in_options {
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

#customer_sign_in, #employee_sign_in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#customer_sign_in > *, #employee_sign_in > * {
    margin: 2%;
}

#page_credit {
    position: fixed;
    left: 0;
    top: 0;

    margin: 0;
    width: fit-content;

    background-color: rgb(97, 164, 252);

    font-family: Y14;
    font-size: 30px;
    color: rgb(54, 54, 54);
    text-decoration: none;

    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-style: none;
    border-radius: 4px;
}
