#row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    font-size: large;
}

#Home_Image_1 {
    width: 80%;
}

#Intro_Text_Box {
    display: flex;
    flex-direction: row;
    font-size: larger;

    background-color: rgb(255, 255, 255);

    border-style: solid;
    border-color: rgb(248, 248, 248);

    padding: 20px;

    text-align: left;
}

#Image_Box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Happy_Valley_Emphasized {
    font-style: italic;
    font-size: larger;

    color: rgb(128, 21, 21);
}

#row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;

    font-size: large;
}

#row-2 div {
    background-color: rgb(255, 255, 255);

    border-style: solid;
    border-color: rgb(245, 199, 199);

    padding: 30px;
}

#row-2 div a {
    font-size: larger;
}