caption
{
    font-weight:bold;
    text-align:center;
    font-size: 145%;
}
table
{
    width: 92%;
    border: 1px solid black;
}
th
{
    color: blue;
     border: 1px solid black;
}
td
{
    padding: 5px;
     border: 1px solid black;
}
.blue
{
    background-color: lightblue;
}
.middle
{
    vertical-align: middle;
}
.left
{
    text-align: left;
}
.center
{
    text-align: center;
}
.right
{
    text-align: right;
}

