/*
	This is CSS for the employee interface styling
*/
#Page_Content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table{
	background-color: darkgrey;
	border: 2px solid;
}
th, td{
	border: 2px solid;
	overflow: hidden;
	max-height: 10px;
}

td {
	text-align: left;
}

.sub_button{
	width: 80px;
	height: 30px;
	border: 4px solid;
	border-color: darkgrey;
	Background-color: lightgrey;
	margin: 20px;
}
.sub_button:hover {
	border-color: lightgrey;
	background-color: darkgrey;
}

#answer_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
}

#answer_form input {
	width: 100%;
}

textarea {
	width: 100%;
	resize: none;
	overflow-wrap: break-word;
}