#Sub_Bar {
    background-color: rgb(26, 85, 161);

    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
    overflow: hidden;
}

#Sub_Bar li {
    float: left;
}

#Sub_Bar li a {
    display: block;

    font-size: 30px;
    color: rgb(216, 216, 216);
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#Sub_Bar li a:hover {
    background-color: rgb(118, 168, 233);
    color: rgb(54, 54, 54);
}