:root {
    --white_blue: rgb(243, 250, 252);
    --light_blue: rgb(217, 249, 255);
    --blue: rgb(118, 178, 255);
    --dark_blue:rgb(33, 93, 172);
}


html {
    height: 100%;
}

body {
    height: 100%;
}

.window {
    width: 30%;
}

#game_window {
    background-image: linear-gradient(var(--blue), var(--white_blue));

    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#play_area {
    text-align: center;
}

#play_area button {
    width: 10%;
    padding: 1%;
}