* {
    box-sizing: border-box;
}

#Page_Content {
    height: 70%;
}

.hide {
    display: none;
}

#Page_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options_menu, #add_menu, #edit_menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blue);
    min-width: 50%;
    
    padding: .05% 3% 5%;

    height: 100%;

    margin: 1%;
}

.blue_button {
    margin: 1%;
    width: 30%;

    background-color: var(--dark_blue);

    color: var(--light_blue);
    font-family: Y14;
    font-size: x-large;

    border-radius: 10px;
    border-style: none;
}

.back_button_container {
    display: flex;
    width: 100%;
    justify-content: left;
}

.input_error {
    border-color: red;
}

.error_text {
    color: red;
}

.submit_button {
    width: 50%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_container {
    width: 50%;
    text-align: left;
}

.hide {
    display: none;
}

#first_name, #last_name, #employee_id{
    width: 100%;
}